   <nav class="navbar navbar-default navbar-fixed-top" style="background-color:#f4fef4;">
      <div class="container" >
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/server" style="color:#000;">FSE-ACP</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse" >
          <ul class="nav navbar-nav" >
            <li><a href="/" style="color:#000;">Home</a></li>
            <li><a href="/server" style="color:#000;">Server</a></li>
            <!--<li><a href="/readme" style="color:#000;">Read Me</a></li>-->
            <li><a href="/downloads" style="color:#000;">Downloads</a></li>
            <!--<li><a href="/citation" style="color:#000;">Citation</a></li>
             <li><a href="/about">About</a></li> -->
            <li><a href="/contributors" style="color:#000;">Contributors</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
